[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
flake8 = "*"

[packages]
typing-extensions = "*"
twine = "*"
wheel = "*"
setuptools = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
